/* Colors */


$transparent-black: rgba(0, 0, 0, 0.5);
$SF-blue: #01b4ff;
$SF-blue-transparent: #01b3ff7a;

$customBoxShadow: 0px 0px 5px 0px $SF-blue;
$customBoxShadowTrans: 0px 0px 5px 0px $SF-blue-transparent;
$customBorder: solid 1px $SF-blue;
$customBorderTrans: solid 1px $SF-blue-transparent;

$gradient : linear-gradient(to top, rgba(0, 0, 0, 0.6), black);
$shadowText: 2px 2px 2px black;


