/**
 * Import
 */
@import src/styles/vars

/**
 * Styles
 */
html
  scroll-behavior: smooth;

body
  background-color: none;
  background-image: url('../../data/space-1.jpg');
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Acme', sans-serif;

blured
  filter: blur(5px);

