
app {
  width: 100%;
}


body {
  font-family: 'Acme', sans-serif;
  background-color: black;
  // background-image: url('../../data/space-background.jpg');
  // background-attachment: fixed;
  // background-size: cover;
  // backdrop-filter: grayscale(50%) blur(2px);
  overflow-X: hidden;
}

.fond {
  width: auto;
}