/**
 * Import
 */
 @import 'src/styles/vars-custom';

.blured {
  filter: blur(5px);
}
.launchers {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1em;
    &-bot {
    background-color: $SF-blue-transparent;
    color: white;
    font-size: 1em;
    text-align: center;
    align-self: center;
    width: 200px;
    margin: 1em 0 1em 0;
    padding: .3em;
    border: 0;
    border-radius: 10px;
    text-shadow: $shadowText;
    text-decoration: none;
    &:hover {
      color: white;
      transition: .3s;
      transform: scale(1.2);
    }
    &:not(:hover) {
      transition: .2s;
    }
  }
}
.modal {
  color: white;
  background-color: $transparent-black;
  &-content {
    background-color: transparent;
  }
  &-header {
    justify-content: center;
    border: none;
  }
}
.selectdrop {
  &-txt {
    text-shadow: $shadowText;
  }
}

@media only screen and (max-width: 1024px) {
  .launchers {
    width: 100%;
      &-bot {
        font-size: .8em;
      }
  }
}
  