/**
 * Import
 */
 @import 'src/styles/vars-custom';

.cv {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-margin-top: 6em;
  margin-top: 4em;
  background-color: $transparent-black;
  box-shadow: $customBoxShadow;
  border-radius: 10px;
}

.pic {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
  &-arrow {
    &_left {
    transform: rotate(90deg);
    }
    &_right {
      transform: rotate(270deg);
      }
  }
  &-ture {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    &_head {
      width: 240px;
    }
  }
}
.launchers {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1em;
}
.fightLauncher,
.buyLauncher {
  background-color: $SF-blue-transparent;
  color: white;
  font-size: 1.5em;
  text-align: center;
  align-self: center;
  width: 300px;
  margin: 1em 0 1em 0;
  padding: 1em;
  border-radius: 10px;
  text-shadow: $shadowText;
  &:hover {
    color: white;
    transition: .3s;
    transform: scale(1.2);
  }
  &:not(:hover) {
    transition: .2s;
  }
}

.elem {
  width: 80%;
}

.frame {
  width: 100%;
  height: 1.5em;
}
.teteAccordion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  &-titrecarte{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5em;
  }
}

.btn {
  &-link {
    &:hover {
      text-decoration: none;
    }
    &:not(:hover) {
      text-decoration: none;
    }
  }
}
.titreaccord {
  text-align: center;
  font-size: 1.25em;
  color: white;
  margin-bottom: 1em;
}

.card {
  background-color: transparent;
  background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0, 0, 0, 0.966));
  border: none;
  &-header {
    border-bottom: $customBorder;
    text-align: center;
  }
}

.list {
  &-group {
    border: none;
    &-item {
      border: none;
      background-color: transparent;
      color: white;
      text-align: center;
    }
  }
}
.min {
  font-size: .5em;
  margin: 0 2em 0 2em;
}
.blured {
  filter: blur(5px);
}

@media only screen and (max-width: 1024px) {
  .cv {
    width: 90%;
  }
  .see {
    display: none;
  }
  .elem {
    width: 100%;
  }
  .teteAccordion {
    font-size: .8em;
  }
  .launchers {
    width: 100%;
  }

  .fightLauncher,
  .buyLauncher {
    padding: .5em;
    font-size: 1em;
    width: 200px;
  }
  
}