.cv {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-margin-top: 6em;
}

.frame {
  width: 100%;
}

.pic {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
  width: 100%;
  &-arrow {
    &_left {
    transform: rotate(90deg);
    }
    &_right {
      transform: rotate(270deg);
      }
  }
  &-ture {
    display: flex;
    // width: 20%;
    justify-content: center;
    margin-bottom: 2em;
    &_head {
      width: 240px;
      // height: 240px;
      // border-radius: 60px;
      // box-shadow: 3px 5px 10px 5px rgba(0, 0, 0, 0.5);
    }
  }
}

.elem {
  width: 80%;

}

.titrecarte{
  font-size: 1.5em;
  color: white;
}

.btn {
  &-link {
    &:hover {
      text-decoration: none;
    }
    &:not(:hover) {
      text-decoration: none;
    }
  }
}
.titreaccord {
  text-align: center;
  font-size: 1.25em;
  color: white;
  margin-bottom: 1em;
}

.card {
  background-color: transparent;
  background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0, 0, 0, 0.568));
  border: none;
  &-header {
    border-bottom: solid 1px #01b4ff;
    text-align: center;
  }
}

.list {
  &-group {
    border: none;
    &-item {
      border: none;
      background-color: transparent;
      color: white;
      text-align: center;
    }
  }
}


@media only screen and (max-width: 768px) {
  .cv {
    width: 100%;
  }
  .see {
    display: none;
  }
  .elem {
    width: 100%;
  }
  .card {
  }
  
}