/**
 * Import
 */
 @import 'src/styles/vars-custom';

.eader {
  z-index: 100;
  background-image: url("../../data/eader.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding-top: .5em;
  border-bottom: $customBorderTrans;
  margin-bottom: 1em;
  position: sticky;
  top: 1px;
  
  &-titre1 {
    display: flex;
    justify-content: center;
    width: 80%;
    text-shadow: $shadowText;
    &:hover {
      text-decoration: none;
    }
      
  }
  &-titre2 {
    color: white;
    font-size: 1.5em;
    &:hover {
      color: white;
      transition: .3s;
      transform: scale(1.01);
    }
    &:not(:hover) {
      transition: .2s;
    }
  }
  
  &-barre {
    width: 100%;
    padding: 0;
    justify-content: space-around;
    

    &_lien {
      color: white;
      font-size: 1em;
      text-shadow: $shadowText;
      
      &:hover {
        transition: .3s;
        transform: scale(1.1);
      }
      &:not(:hover) {
        transition: .2s;
      }

    }
  }
}

.dropdown {
  &-menu {
    background-color: $SF-blue-transparent;
  }
}
.poly {
  border: 0 !important;
  box-shadow: none;
  background-color: transparent;
  text-decoration: transparent;
  color: white;
  font-size: 1em;
  text-shadow: $shadowText;
  &-ancre {
    background-color: transparent;
    color: white;
  }
}
