/**
 * Import
 */
 @import 'src/styles/vars-custom';

.footer {
  width: 60%;
  display: flex;
  align-self: center;
  justify-self: center;
  flex-direction: column;
  align-items: center;
  border-top: $customBorderTrans;
  margin-top: 3em;
  margin-bottom: 1em;
}

.name {
  color: white;
  padding-top: 1em;
  padding-bottom: .5em;
}

.liens {
  color: white;
  width: 80%;
  display: flex;
  justify-content: space-around;
  &-low {
    padding: 1em;
    &:hover {
      text-decoration: none;
      color: $SF-blue;
    }
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    font-size: .8em;
    width: 80%;
  }
}