.sheet {
  width: 80%;
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pic {
display: flex;
justify-content: space-around;
margin-bottom: 2em;
width: 100%;
  &-arrow {
    &_left {
      transform: rotate(90deg);
      &-siz {
        transform: rotate(90deg);
        width: 15%;
      }
    }
    &_right {
      transform: rotate(270deg);
      &-siz {
        transform: rotate(270deg);
        width: 15%;
      }
    }
  }
  &-ture {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    &_head {
      width: 240px;
    }
  }
}

.separateur {
  &-1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  &-2 {
    width: 80%;
    display: flex;
    justify-content: space-around;
    border-bottom: solid 1px #01b4ff;
    padding-bottom: 1em;
  }
  
}
.hud {
  color: white;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-name {
    display: flex;
    justify-self: center;
    padding: 1em;
    box-shadow: 0px 0px 12px 4px #01b4ff;
    border-radius: 15px;
    margin-bottom: 2em;
  }
  &-descr {
    width: 50%;
    text-align: center;
    padding: 1em;
    margin-bottom: 2em;
    border-top: 1px solid #01b4ff;
    border-bottom: 1px solid #01b4ff;
  }
  &-carac {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    text-align: center;
    box-shadow: 0px 0px 12px 4px #01b4ff;
    border-radius: 15px;
    padding: 1em;
    &_title {
      padding: 1em;
    }
    &_display {
      width: 80%;
      padding: 1em;
      margin-top: 1em;
      &-cadre {
        width: 100%;
        margin-top: 1em;
        font-size: 2em;
        border-left: solid 1px #01b4ff;
        border-right: solid 1px #01b4ff;
        border-radius: 10px;
      }
    }
  }
}



@media only screen and (max-width: 768px) {
  .sheet {
    width: 100%;
  }
  .see {
    display: none;
  }
  .pic {
    margin-bottom: 2em;
    width: 100%;
      &-arrow {
      }

      &-ture {
        margin-bottom: 2em;
        &_head {
        }
      }
    }
  .hud {
    font-size: .8em;
    width: 100%;
    &-carac {
      width: 80%;
      margin-top: 1em;
      flex-direction: row;
    }
  }
  .separateur {
    &-1 {
      flex-direction: column;
      align-items: center;
    }
    &-2 {
      width: 40%;
      border-bottom: none;
      border-right: solid 1px #01b4ff;
    }
  }
}