/**
 * Import
 */
 @import 'src/styles/vars-custom';


.sheet {
  width: 80%;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-bottom: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-margin-top: 6em;
  background-color: $transparent-black;
  box-shadow: $customBoxShadow;
  border-radius: 10px;
}

.pic {
display: flex;
justify-content: space-around;
margin-bottom: 2em;
width: 100%;
  &-arrow {
    &_left {
      transform: rotate(90deg);
      &-siz {
        transform: rotate(90deg);
        width: 15%;
      }
    }
    &_right {
      transform: rotate(270deg);
      &-siz {
        transform: rotate(270deg);
        width: 15%;
      }
    }
  }
  &-ture {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    &_head {
      width: 240px;
    }
  }
}

.separateur {
  &-1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
  }
  &-2 {
    width: 80%;
    display: flex;
    justify-content: space-around;
    border-bottom: $customBorder;
    padding-bottom: 1em;
  }
  &-3 {
    padding: 1em 0 1em 0;
    padding: 1em 0 1em 0;
    width: 80%;
    display: flex;
    justify-content: space-around;
  }
  
}
.hud {
  color: white;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-name {
    display: flex;
    justify-self: center;
    padding: 1em;
    box-shadow: $customBoxShadow;
    border-radius: 15px;
    margin-bottom: 2em;
  }
  &-descr {
    width: 50%;
    text-align: center;
    padding: 1em;
    margin-bottom: 2em;
    border-top: $customBorderTrans;
    border-bottom: $customBorderTrans;
  }
  &-carac {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    text-align: center;
    box-shadow: $customBoxShadow;
    border-radius: 15px;
    padding: 1em;
    margin: 0 1em 0 1em;
    &_title {
      padding: 1em;
    }
    &_display {
      width: 80%;
      padding: 1em;
      margin-top: 1em;
      &-cadre {
        width: 100%;
        margin-top: 1em;
        font-size: 2em;
        border-left: $customBorder;
        border-right: $customBorder;
        border-radius: 10px;
      }
    }
  }
  
  &-tuner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &-notice {
    padding: 1em;
    border-top: $customBorderTrans;
    border-bottom: $customBorderTrans;
  }
  &-icon {
    width: 4.5em;
    padding: 1em;
    margin: 2em;
    box-shadow: $customBoxShadowTrans;
    &:hover {
      transition: .3s;
      transform: scale(1.1);
    }
    &:not(:hover) {
      transition: .2s;
    }
  }
}



@media only screen and (max-width: 768px) {
  .sheet {
    width: 90%;
  }
  .see {
    display: none;
  }
  .pic {
    margin-bottom: 2em;
    width: 100%;
      &-arrow {
      }

      &-ture {
        margin-bottom: 2em;
        &_head {
        }
      }
    }
  .hud {
    font-size: .8em;
    width: 100%;
    &-carac {
      width: 80%;
      margin: 1em 0 1em 0;
      flex-direction: row;
      &_display {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-cadre {
          margin: 0;
          margin-top: 1em;
          width: 50%;
        }
      }
    }
  }
  .separateur {
    &-1 {
      flex-direction: column;
      align-items: center;
    }
    &-2 {
      width: 40%;
      border-bottom: none;
      border-right: $customBorder;
    }
    &-3 {
      flex-direction: column;
      align-items: center;
    }
  }
}